html,
body {
    margin: auto;
    height: 100%;
    width: 100%;
    background-color: rgb(235, 235, 235);
    font-family: 'Oswald', sans-serif;
}

.input-inscript {
    border-radius: 15px;
    border-style: none;
    background-color: rgb(214, 214, 214);
}

.birthday {
    border-radius: 15px;
    border-style: none;
    background-color: rgb(214, 214, 214);
}
.text-check{
    font-size: 14px;
}
.text-checkto{
    font-size: 11px;
}
