.connexion-form{
    border-style: none;
    font-family: 'Oswald', sans-serif;
    border-radius: 15px;
    border-style: none;
    background-color: rgb(214, 214, 214);
}
.color-link{
    font-family: 'Oswald', sans-serif;
    color: rgb(173, 173, 173);
}
.margin-link{
    margin: 35%;
}
.button-margin{
    margin-left: 30%;
}
.button-connect{
    background-color: rgb(214, 214, 214);
    border-style: none;
    border-radius: 20px;
}
