html,
body {
    margin: auto;
    height: 100%;
    width: 100%;
    background-color: rgb(235, 235, 235);
}


@media screen and (min-width: 1200px) and (max-width: 2500px) {
    .bg-img {
        background: url(../img/nav-bar.png) no-repeat;
        background-size: 100%;

    }

    .text-change {
        font-size: 25px;
        font-family: 'Oswald', sans-serif;
    }
}

@media screen and (max-width: 1199px) {
    .bg-img {
        background: url(../img/test.png) no-repeat;
        background-size: 100%;

    }

    .text-change {
        font-size: 18px;
        font-family: 'Oswald', sans-serif;
    }

    .nav-burger {
        padding: .25rem .75rem;
        font-size: 1.25rem;
        line-height: 1;
        border: 1px solid transparent;
        border-radius: .25rem;
    }
}
.searchbar {
    border-style: none;
    height: 32px;
}

.sizingDiv {
    height: 100%;
    width: 100%;
}

.sizingLeft {
    height: 100%;
    width: 60%;
}

.bg-opacity {
    z-index: 2;
    height: 400px;
    width: 400px;
    background-color: black;
    opacity: 0.50;
}

.bg-img {
    width: 100%;
    height: 100%;
}
  .bg-comment{
      background-color: rgb(160, 160, 160);
      height: 300px;
      overflow:auto;
  }
  .title-comment{
    font-size: 35px;
    font-family: 'Oswald', sans-serif;
    text-decoration: underline;
  }
  .text-comment {
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
    text-decoration: underline;
}
.comment{
    margin-left: 11%;
    font-size: 22px;
    font-family: 'Oswald', sans-serif;
}
.sizingRight {
    height: 100%;
    width: 40%;
}
.bg-right{
    background-color: rgb(185, 185, 185);
    height: 100%;
    width: 100%;
}

.center-text{
    color: white;
    font-size: 40px;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    list-style: none;
}
.bg-footer{
    background-color: rgb(65, 65, 65);
}
a:link 
{ 
 text-decoration:none; 
} 
a:hover 
{ 
 color: white;
} 
.text-footer{
    color: white;
    font-family: 'Oswald', sans-serif;
}
