.name-tag{
    font-family: 'Oswald', sans-serif;
    border-radius: 15px;
    border-style: none;
    background-color: rgb(214, 214, 214);
}
.zone-msg{
    padding: 10px;
    font-family: 'Oswald', sans-serif;
    border-radius: 15px;
    border-style: none;
    background-color: rgb(214, 214, 214);
}

.button-speak {
    background-color: rgb(214, 214, 214);
    border-style: none;
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
    border-radius: 15px;
}