html,
body {
    margin: auto;
    height: 100%;
    width: 100%;
    background-color: rgb(235, 235, 235);
    font-family: 'Oswald', sans-serif;
}
.connexion-form{
    border-style: none;
    border-radius: 15px;
    border-style: none;
    background-color: rgb(214, 214, 214);
}
.color-link{
    color: rgb(173, 173, 173);
}
.margin-link{
    margin: 35%;
}
.button-margin{
    margin-left: 30%;
}
.marg-img-connect{
    margin-top: 39%;
}
.button-connect{
    background-color: rgb(214, 214, 214);
    border-style: none;
    border-radius: 20px;
}
